header {
    background-color: #244751;
    color: #E8FDFF
}
body{
    background-color: whitesmoke;
    font-family: "Josefin Sans",sans-serif
}
main{
    background-color: white;
    padding: 16px;
    box-shadow: 4px 4px 27px 2px
}
.finstagram-post{
    margin-bottom: 48px;
}
.finstagram-post .user-info img{
    border-radius: 50%
}
a.photo{
    transition: padding 0.3s;
}
a.photo:hover{
    padding: 10px;
}
/* 
  Media Queries go on the bottom of your stylesheet

  Desktop-first: max-widths in DESC
  Mobile-first: min-widths in ASC
*/

@media screen and (max-width: 768px) {
    main {
      width: 70%;
    } 
  }
  
  @media screen and (max-width: 480px) {
    main {
      width: 95%;
    } 
  
    .user-info h2 {               
      font-size: 1.1em;
    }
  
    .user-info h3,
    .actions,
    p {
      font-size: 0.9em;
    }
  }